.container-menu{
    width: @menu-width;
    height: 100%;
    position: fixed;
    min-height: 100%;
    top:0;
    left:0;
    bottom:0;
    z-index: 30;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.menu-header{
    background: @color-header-bg;
    height: @header-height;
}
.menu-title{
    margin-left: 28px;
    padding-top: @header-height - 52px;
}
.menu-title span{
    color: #fff;
    font-size:22px;
    letter-spacing: 2px;
}
.menu{
    margin: 0;
    padding: 0;
}
.menu li{
    height: @menu-item-height;
    line-height: @menu-item-height;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #878787;
}
.menu li>i{
    padding-left: 28px;
}
.menu li:hover{
    cursor: pointer;
}
.menu li:hover i, .menu li:hover a, .menu li:hover span{
    color:#1faeff;
    transition: all 0.1s;
}
.menu-item-expanded{
    height: auto !important;
}
.menu-item-selected{
    background: #fbfbfb;
}
.menu-item-selected>.menu-sideline{
    display: block;
}
.menu-item-selected i{
    color:#1faeff;
}
.menu-item-selected span{
    color:#1faeff;
}
.menu li>span{
    position: absolute;
    left: 60px;
}
.menu-sideline{
    height: @menu-item-height;
    position: absolute;
    left:0;
    border-left: 3px #85d2ff solid;
    display: none;
}
.treeview{
    display: none;
}
.treeview dd{
    font-size: 13px;
    line-height: 32px;
    margin-bottom: 0;
    padding-left: 60px;
}
.treeview dd{
    cursor: pointer;
}
.treeview dd:hover{
    color: #1faeff;
}
.treeview-item-selected{
    color: #1faeff;
}
.treeview-active{
    display: block;
}
.treeview-toggle{
    transition: none;
    position: absolute;
    right: 1.5em;
}