.no-select{
    user-select: none;
    -moz-user-select: none;
    -ms-touch-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.no-drag{
    -webkit-user-drag: none;
}

.no-select-drag{
    .no-select();
    .no-drag();
}

html{
    height: 100%;
}

body{
    height: 100%;
    font-family: DengXian, Microsoft YaHei, Arial, Helvetica, sans-serif;
}

div{
    .no-select-drag();
}

h1, h2, h3, h4, h5 {
    letter-spacing: 3px;
    .no-select-drag();
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}

li{
    list-style: none;
}
.main-container{
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.container-right{
    width: calc(100% - 240px);
    height: 100%;
    margin-left: 240px;
}
.content-container{
    margin: 24px 48px;
}
.header{
    color: #878787;
    margin-bottom: 1em;
}
.card-header{
    letter-spacing: 0.05em;
}
@media(max-width:768px){
    .card{
        margin-bottom: 12px;
    }
}