<div class="content-container container-shortlink" id="container-shortlink">
    <div class="row">
        <div class="col-md-12 header" style="margin-bottom: 0;">
            <h3>链接列表</h3>
        </div>
        <div class="col-md-12">
            <div id="table-shortlink-toolbar">
                <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-delExpiredLog"><i class="fa fa-trash" aria-hidden="true"></i><span style="margin-left:8px;">删除过期短链接</span></button>
                <button class="btn btn-sm btn-secondary" style="float: right;"><i class="fa fa-refresh" aria-hidden="true"></i><span style="margin-left:8px;" onclick="refreshTable();">刷新列表</span></button>
            </div>
            <table id="table-shortlink"></table>
        </div>
    </div>

    <div class="modal fade" id="modal-delExpiredLog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">确认操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>您确定要删除所有已过期的短链接吗？</p>
                    <p>该操作不可逆，短链接一旦删除将无法恢复。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteShortlink();" data-dismiss="modal">确认</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.model-title span').text('普通短链接');

        function str10to62(number) {
            var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'.split(''),
                radix = chars.length,
                qutient = +number,
                arr = [];
            do {
                mod = qutient % radix;
                qutient = (qutient - mod) / radix;
                arr.unshift(chars[mod]);
            } while (qutient);
            return arr.join('');
        }

        $('#table-shortlink').bootstrapTable({
            url: '/manage/data.php',
            method: 'POST',
            contentType: "application/x-www-form-urlencoded",
            cache: false,
            pageSize: 20,
            pageList: [],
            queryParams: function(params){
                var p = {
                    limit: params.limit,
                    offset: params.offset,
                    order: params.order,
                    sort: params.sort,
                    type: 'shortlink'
                }
                return p;
            },
            pagination: true,
            sidePagination: "server",
            escape: true,
            locale: 'zh-CN',
            toolbar: '#table-shortlink-toolbar',
            sortName: 'id',
            sortOrder: 'desc',
            columns: [{
                    field: 'id',
                    title: 'ID',
                    width: 100,
                    sortable: true
                }, {
                    field: 'shortlink',
                    title: '短链接',
                    width: 200,
                    formatter: (value, row, index) => {
                        return '<a href="'+window.location.origin+'/'+value+'">'+window.location.origin+'/'+value+'</a>';
                    }
                },
                {
                    field: 'url',
                    title: '原地址',
                    width: ((screen.width<=1920)?550:1000),
                    formatter: (value, row, index) => {
                        return '<a href="' + value + '">' + value + '</a>';
                    }
                }, {
                    field: 'ctime',
                    title: '创建时间',
                    sortable: true,
                    formatter: (value, row, index) => {
                        return moment.unix(value).format('YYYY-MM-DD HH:mm:ss');
                    }
                }, {
                    field: 'expires',
                    title: '过期时间',
                    sortable: true,
                    formatter: (value, row, index) => {
                        if (value == null){
                            return '-';
                        }
                        return moment.unix(value).format('YYYY-MM-DD HH:mm:ss');
                    }
                }, {
                    field: 'count',
                    title: '访问量',
                    width: 100,
                    sortable: true
                }, {
                    field: 'lasttime',
                    title: '最后一次访问',
                    sortable: true,
                    formatter: (value, row, index) => {
                        if (value == null){
                            return '-';
                        }
                        return moment.unix(value).format('YYYY-MM-DD HH:mm:ss');
                    }
                }, {
                    title: '操作',
                    width: 150,
                    formatter: (value, row, index) => {
                        return '<button class="btn btn-sm btn-danger tablebtn-del" id="btndel-'+index+'" onclick="deleteShortlink(' + index + ')"><i class="fa fa-trash" aria-hidden="true"></i></button>';
                    }
                }
            ]
        });

        function deleteShortlink(){
            $.ajax({
                url: '/manage/link.php',
                type: 'POST',
                dataType: 'json',
                data: {
                    type: 'normal',
                    action: 'cleanOutdate'
                },
                success: function(data){
                    if (data.code == 200){
                        toastr.success('删除成功');
                    } else {
                        toastr.error('操作失败：'+data.error);
                    }
                },
                error: function(err){
                    console.error(err);
                    toastr.error('操作失败');
                }
            });
        }
    </script>
</div>