<div class="content-container container-userlog" id="container-userlog" style="margin: 12px 48px;">
    <div class="row">
        <div class="col-md-12">
            <div id="table-userlog-toolbar">
                <button class="btn btn-sm btn-danger btn-deletelog-7" data-toggle="modal" data-target="#modal-deletelog-7"><i class="fa fa-trash" aria-hidden="true"></i><span style="margin-left:8px;">删除7天前的日志</span></button>
                <button class="btn btn-sm btn-danger btn-deletelog-30" data-toggle="modal" data-target="#modal-deletelog-30"><i class="fa fa-trash" aria-hidden="true"></i><span style="margin-left:8px;">删除30天前的日志</span></button>
                <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-truncatelog"><i class="fa fa-trash" aria-hidden="true"></i><span style="margin-left:8px;">清空登录日志</span></button>
                <button class="btn btn-sm btn-secondary" style="float: right;"><i class="fa fa-refresh" aria-hidden="true"></i><span style="margin-left:8px;" onclick="refreshTable();">刷新列表</span></button>
            </div>
            <table id="table-userlog"></table>
        </div>
    </div>

    <div class="modal fade" id="modal-deletelog-7">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">确认操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>您确定要删除7天前的所有登录日志吗？</p>
                    <p>该操作不可逆，日志一旦删除将无法恢复。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">确认</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-deletelog-30">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">确认操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>您确定要删除30天前的所有登录日志吗？</p>
                    <p>该操作不可逆，日志一旦删除将无法恢复。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">确认</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-truncatelog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">确认操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>您确定要清空登录日志吗？</p>
                    <p>该操作不可逆，日志一旦被清空将无法恢复。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">确认</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.model-title span').text('登录日志');

        $('#table-userlog').bootstrapTable({
            url: '/manage/data.php',
            method: 'POST',
            contentType: "application/x-www-form-urlencoded",
            cache: false,
            pageSize: 15,
            pageList: [],
            queryParams: generateQueryParams,
            pagination: true,
            sidePagination: "server",
            toolbar: "#table-userlog-toolbar",
            escape: true,
            locale: 'zh-CN',
            columns: [{
                field: 'id',
                title: 'ID'
            }, {
                field: 'userid',
                title: '用户 ID'
            }, {
                field: 'username',
                title: '用户名'
            }, {
                field: 'logintime',
                title: '登录时间',
                formatter: (value, row, index) => {
                    return moment.unix(value).format('YYYY-MM-DD HH:mm:ss');;
                }
            }, {
                field: 'loginip',
                title: 'IP'
            }, {
                field: 'geo',
                title: 'GEO'
            }]
        });

        function generateQueryParams(params) {
            var p = {
                limit: params.limit,
                offset: params.offset,
                type: 'userlog'
            }
            return p;
        }

        function refreshTable() {
            $("#table-userlog").bootstrapTable('refresh');
        }
    </script>
</div>