<div class="content-container container-accesslog" id="container-accesslog" style="margin: 12px 48px;">
    <div class="row">
        <div class="col-md-12">
            <div id="table-accesslog-toolbar">
                <button class="btn btn-sm btn-danger btn-deletelog-7" data-toggle="modal" data-target="#modal-deletelog-7"><i class="fa fa-trash" aria-hidden="true"></i><span style="margin-left:8px;">删除7天前的日志</span></button>
                <button class="btn btn-sm btn-danger btn-deletelog-30" data-toggle="modal" data-target="#modal-deletelog-30"><i class="fa fa-trash" aria-hidden="true"></i><span style="margin-left:8px;">删除30天前的日志</span></button>
                <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-truncatelog"><i class="fa fa-trash" aria-hidden="true"></i><span style="margin-left:8px;">清空日志</span></button>
                <button class="btn btn-sm btn-secondary" style="float: right;"><i class="fa fa-refresh" aria-hidden="true"></i><span style="margin-left:8px;" onclick="refreshTable();">刷新列表</span></button>
            </div>
            <table id="table-accesslog"></table>
        </div>
    </div>

    <div class="modal fade" id="modal-deletelog-7">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">确认操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>您确定要删除7天前的所有登录日志吗？</p>
                    <p>该操作不可逆，日志一旦删除将无法恢复。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">确认</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-deletelog-30">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">确认操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>您确定要删除30天前的所有登录日志吗？</p>
                    <p>该操作不可逆，日志一旦删除将无法恢复。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">确认</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-truncatelog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">确认操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>您确定要清空登录日志吗？</p>
                    <p>该操作不可逆，日志一旦被清空将无法恢复。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">确认</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.model-title span').text('访问日志');

        $('#table-accesslog').bootstrapTable({
            url: '/manage/data.php',
            method: 'POST',
            contentType: "application/x-www-form-urlencoded",
            cache: false,
            pageSize: 20,
            pageList: [],
            queryParams: generateQueryParams,
            pagination: true,
            sidePagination: "server",
            toolbar: "#table-accesslog-toolbar",
            escape: true,
            locale: 'zh-CN',
            columns: [{
                field: 'id',
                title: 'ID'
            }, {
                field: 'time',
                title: '访问时间',
                formatter: (value, row, index) => {
                    return moment.unix(value).format('YYYY-MM-DD HH:mm:ss');;
                }
            }, {
                field: 'ip',
                title: 'IP'
            }, {
                field: 'geo',
                title: 'GEO'
            }]
        });

        function generateQueryParams(params) {
            var p = {
                limit: params.limit,
                offset: params.offset,
                type: 'accesslog'
            }
            return p;
        }

        function refreshTable(){
            $("#table-accesslog").bootstrapTable('refresh');
        }

        function delete_log(day) {
            $.ajax({
                url: '/manage/log.php',
                type: 'POST',
                dataType: 'json',
                data: {
                    action: 'deletelog',
                    type: 'accesslog',
                    day: day
                },
                success: function(res){
                    if (res.code == 200){
                        toastr.success('删除成功');
                        refreshTable();
                    } else {
                        toastr.success('操作失败: '+res.error);
                    }
                },
                error: function(err){
                    console.error(err);
                    toastr.error('操作错误');
                }
            });
        }
    </script>
</div>