<div class="content-container container-customlink" id="container-customlink">
    <div class="row">
        <div class="col-md-12 header" style="margin-bottom: 0;">
            <h3>链接列表</h3>
        </div>
        <div class="col-md-12">
            <div id="table-customlink-toolbar">
                <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-delExpiredLog"><i class="fa fa-trash" aria-hidden="true"></i><span style="margin-left:8px;">删除过期短链接</span></button>
                <button class="btn btn-sm btn-secondary" style="float: right;"><i class="fa fa-refresh" aria-hidden="true"></i><span style="margin-left:8px;" onclick="refreshTable();">刷新列表</span></button>
            </div>
            <table id="table-customlink"></table>
        </div>
    </div>

    <script>
        function refreshTable() {
            $("#table-customlink").bootstrapTable('refresh');
        }
    </script>

    <div class="modal fade" id="modal-delExpiredLog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">确认操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>您确定要删除所有已过期的短链接吗？</p>
                    <p>该操作不可逆，短链接一旦删除将无法恢复。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="cleanOutdateShortlink()" data-dismiss="modal">确认</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.model-title span').text('自定义短链接');

        function str10to62(number) {
            var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'.split(''),
                radix = chars.length,
                qutient = +number,
                arr = [];
            do {
                mod = qutient % radix;
                qutient = (qutient - mod) / radix;
                arr.unshift(chars[mod]);
            } while (qutient);
            return arr.join('');
        }

        $('#table-customlink').bootstrapTable({
            url: '/manage/data.php',
            method: 'POST',
            contentType: "application/x-www-form-urlencoded",
            cache: false,
            pageSize: 20,
            pageList: [],
            queryParams: function (params) {
                var p = {
                    limit: params.limit,
                    offset: params.offset,
                    order: params.order,
                    sort: params.sort,
                    type: 'customlink'
                }
                return p;
            },
            pagination: true,
            sidePagination: "server",
            escape: true,
            locale: 'zh-CN',
            toolbar: '#table-customlink-toolbar',
            sortName: 'id',
            sortOrder: 'desc',
            columns: [{
                    field: 'id',
                    title: 'ID',
                    width: 100,
                    sortable: true
                }, {
                    field: 'cname',
                    title: '短链接',
                    width: ((screen.width <= 1920) ? 250 : 300),
                    formatter: (value, row, index) => {
                        return '<a href="' + window.location.origin + '/' + value + '">' + window.location.origin + '/' + value + '</a>';
                    }
                },
                {
                    field: 'url',
                    title: '原地址',
                    width: ((screen.width <= 1920) ? 600 : 1000),
                    formatter: (value, row, index) => {
                        return '<a href="' + value + '">' + value + '</a>';
                    }
                }, {
                    field: 'ctime',
                    title: '创建时间',
                    sortable: true,
                    formatter: (value, row, index) => {
                        return moment.unix(value).format('YYYY-MM-DD HH:mm:ss');
                    }
                }, {
                    field: 'expires',
                    title: '过期时间',
                    sortable: true,
                    formatter: (value, row, index) => {
                        if (value == null) {
                            return '-';
                        }
                        return moment.unix(value).format('YYYY-MM-DD HH:mm:ss');
                    }
                }, {
                    field: 'count',
                    title: '访问量',
                    width: 100,
                    sortable: true
                }, {
                    field: 'lasttime',
                    title: '最后一次访问',
                    sortable: true,
                    formatter: (value, row, index) => {
                        if (value != null) {
                            return moment.unix(value).format('YYYY-MM-DD HH:mm:ss');
                        }
                    }
                }, {
                    title: '操作',
                    width: 150,
                    formatter: (value, row, index) => {
                        return '<button class="btn btn-sm btn-danger tablebtn-del" id="btndel-' + index + '" onclick="deleteShortlink(' + index + ')"><i class="fa fa-trash" aria-hidden="true"></i></button>';
                    }
                }
            ]
        });

        //清理过期的链接
        function cleanOutdateShortlink() {
            $.ajax({
                url: '/manage/link.php',
                type: 'POST',
                dataType: 'json',
                data: {
                    type: 'custom',
                    action: 'cleanOutdate'
                },
                success: function (data) {
                    if (data.code == 200) {
                        toastr.success('删除成功');
                        refreshTable();
                    } else {
                        toastr.error('操作失败：'+ data.error);
                    }
                },
                error: function (err) {
                    console.error(err); 
                    toastr.error('操作失败');
                }
            });
        }

        function deleteShortlink(index) {
            if ($('#btndel-' + index).attr('data-delconfirm') == 'true') {
                var linkid = $("#table-shortlink").children('tbody').children('[data-index=' + (index - 1) + ']')[0].children[0].innerText;
                $.ajax({
                    url: '/manage/link.php',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        action: 'delete',
                        type: 'custom',
                        linkid: parseInt(linkid)
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            toastr.success('删除成功');
                            refreshTable();
                        } else {
                            toastr.error('删除失败');
                        }
                    },
                    error: function (err) {
                        toastr.error('删除失败');
                    }
                })
            }
        }
    </script>
</div>