label{
    width: max-content;
}
.index-container{
    padding-top: 11% !important;
}
.customlink-checkbox{
    display: inline-block;
    padding-top: 8px;
    padding-right: 20px;
}
.customlink-input{
    display: none;
}
.expires-checkbox{
    display: inline-block;
    padding-top: 8px;
}
.expires-checkbox label::after{
    padding-left: 2px !important;
}
.expires-container{
    display: none;
}
.link-apichoice{
    display: inline-block;
    float: right;
}
.link-apiradio{
    display: inline-block;
}
.link-generatebtn{
    display: inline-block;
    float: right;
}
.row-generated{
    display: none;
    padding-top:32px;
}
#link-card-body{
    user-select: text;
}
#link-card-body a{
    -webkit-user-drag: auto;
}
.radio-localsite{
    padding-right: 18px;
}
@media (max-width: 1366px){
    .expires-checkbox{
        display: block !important;
    }
    #btn-generate{
        font-size: 15px;
        margin-top:12px;
    }
    .expires-container{
        padding: 12px 0 !important;
        max-width: 100%;
    }
    .customlink-input{
        padding: 12px 0 !important;
        max-width: 100%;
    }
    .expires-checkbox label::after{
        padding-left: 3px !important;
    }
}
@media (max-width: 1024px){
    .index-container{
        padding-top: 10% !important;
    }
    label{
        font-size: 15px;
    }
}
@media (max-width: 576px){
    .link-form{
        padding-top:12px;
    }
    .index-container{
        padding: 12% 7% !important;
    }
    .expires-checkbox{
        padding-left: 4px !important;
    }
    .customlink-checkbox{
        padding-right: 12px;
    }
    .radio-localsite{
        padding-right: 12px;
    }
}
@media(max-width: 320px){
    #btn-generate{
        margin-top:0px;
    }
}